doctype html
html
  head
    title Catering Page
  body
    h1 Catering Page
    p Welcome to the catering page!
    p This should be accessable without logging in
    p You should not be able to make a reservation without an account
  
