doctype html
html
  head
    title Employee Dashboard
  body
    h1 Employee Dashboard
    p Welcome to the employee dashboard!
    p This should not be accessable without logging in
    a(href="/signup") Sign Up
