doctype html
html
  head
    title Home Page
  body
    h1 Welcome to Rexus Toadhouse
    ul
      li 
        a(href="/customer") Customer Dashboard
      li
        a(href="/employee") Employee Dashboard