doctype html
meta(charset='UTF-8')
meta(name='description' content='The Copper Fork')
meta(name='keywords' content='Copper Fork, Restaurant, Menu')
meta(name='author' content='Jake Schellhorn')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
head
  title The Copper Fork
  style 
    include ../public/stylesheets/style.css
header.banner
  .logo The Copper Fork
  nav.nav
    a(href='/menu') MENU
    a(href='/order') ORDER NOW
    a(href='/reservation') RESERVATIONS
    a(href='/catering') CATERING