doctype html
html
  head
    title Login Page
  body
    h1 Login Page
    p Welcome to the employee dashboard!
    p This should be accessable without logging in
    p This should have an employee bool check. Employee accounts must be confirmed by an admin/supervisor before they are activated
    a(href="/signup") Sign Up
