doctype html
html
  head
    title Order Page
  body
    h1 Order Page
    p Welcome to the Order page!
    p This should be accessable without logging in
    p You should not be able to make a reservation without an account
  
