doctype html
html
  head
    title Reservation Page
  body
    h1 Reservation Page
    p Welcome to the reservation page!
    p This should be accessable without logging in
    p You should not be able to make a reservation without an account
  
